/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
.br-sp{
    display: none;
}
.br-pc{
    display: block;
}
header{
	height: 85px;
    max-width: 770px;
	padding: 0 15px;

	img{
		height: 33px;
	}
	.BtnProducts,.BtnContact{
		padding: 10px 27px;
        font-size: 14px;
	}
}
footer{
    .footer_inner{
        max-width: 750px;
        padding: 0 15px;
        margin: 0 auto 30px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
       
        div{
            img{
                margin: 0 0 30px;
                height: 33px;
            }
        }
       }

}
#fv{
	height: 390px;
}
.fv-inner{
    max-width: 770px;
	
    h1{
		font-size: 30px;
		padding-top: 60px;
        line-height: 1.0;

        &::after{
            bottom: -12px;
            left: -12px;
            width: 500px;
        }
	}

	div{
        margin: 120px 0 0;
		ul{
			li{
				margin-right: 15px;

				img{
					width: 110px;
					height: 110px;
				}
				p{
					font-size: 16px;
				}
			}
		}
	}
}

.main_title{
	font-size: 30px;
	margin: 100px 0 30px;

    &::after{
        bottom: -15px;
        width: 76px;
    }
}
.sub_title{
	font-size: 14px;
	letter-spacing: 3px;
	margin: 0 0 50px;
}

#service{
    max-width: 770px;
    padding: 0 13px 80px;

    .main_title{
        margin: 70px 0 30px;
    }
}
.service{
	&_item{

        &:nth-child(1),&:nth-child(2){
            margin-bottom: 30px;
        }

		a{
			padding: 5px 45px;

            &::after{
                right: 25px;
            }
		}
	}
	&_content{
        width: 80%;
		height: 330px;
		margin: 0 auto 20px;
		padding: 30px 20px 0;
		
		h2{
			font-size: 18px;
			margin: 0 0 30px;
		}
		img{
			height: 84px;
		}	
		p{
            margin-top: 30px;
		}
	}
}
.support{
    &_item{
        padding: 0 0 80px;
    }

	&_title{
		height: 155px;
		width: 100%;
		margin: 0 0 35px;

		h1{
            font-size: 30px;
		}
	}
	&_img{

		img{
			width: 640px;
			height: 427px;
		}
		div{
            max-width: 770px;
			padding: 30px 35px 0;

			h2{
				font-size: 26px;
			}
			h3{
				padding: 15px 0;
				font-size: 30px;
                margin: 20px 0 30px;

                span{
                    font-size: 20px;
                }
			}
			p{
				font-size: 18px;
			}
		}
	}
	&_merit{
        max-width: 770px;
		padding: 0 20px;		
	}
    &_content{
        max-width: 770px;
        padding: 0 20px;
    }
    &_flow{
        max-width: 770px;
        padding: 0 20px;
    }
    &_time{
        height: 150px;
        margin: 60px 0 130px;
    }
    &_table{
        max-width: 770px;

    }
}
.merit{
	&-item{
        width: 31%;
		height: 270px;
        display: block;
        padding: 0;

        &:nth-child(1),&:nth-child(2){
            margin: 0;
        }

		h2{
			top: -25px;
			left: 50%;
			font-size: 16px;
            padding: 12px 0;
		}

        p{
            padding: 0 25px;
            margin: 40px 0;
            width: 100%;
            text-align: center;
        }

		img{
            width: 90%;
			max-width: 200px;
			height: auto;
			position: absolute;
			bottom: 10px;
			right: 50%;
			transform: translateX(50%);
		}
	}
}
.sup{
    &_items{
        padding: 60px 0;
       
        &.sup02{
            .sup_item{
                p{
                    font-size: 16px;
                }
            }
        }
    }
    &_item{
        
        &:nth-child(4),&:nth-child(5),&:nth-child(6){
            margin-top: 50px;
        }

        img{
            height: 120px;
        }
        p{
            font-size: 16px;
            margin: 40px 0 0;
            text-align: center;
        }
    }
    &_inner{
        height: 240px;
    
        p{
            font-size: 18px;
        }
    }
    &_img{
        margin: 45px 0 0;

        img{
            width: auto;
            height: 110px;    

            &:nth-child(2){
                margin: 0 80px;
            }
        }
    }
}
.flow{
    &_items{

        span{
            display: inline;
            color: #ff8a00;
            font-weight: 900;
            padding-bottom: 50px;
        }
	}
	&_item{
        width: 30%;

        &:nth-child(3),&:nth-child(5){
            margin-top: 0;
        }


        &::after{
            top: -30px;
            font-size: 25px;
            width: 50px;
            height: 50px;
            line-height: 50px;
        }
        p{
            font-size: 16px;
            padding: 0 25px;
            margin: 18px 0 0;
        }
		img{
            width: 100%;
		}
    }
}
.time{
    &_content{
        width: 530px;
        height: 170px;
        top: 45px;
        padding: 0;

        h2{
            font-size: 20px;
            margin: 40px 0 30px;
            
            &::after{
                bottom: -15px;
                width: 76px;
            }          
        }    
        p{
            font-size: 20px;
            
            &::before{
                left: 45px;
            }
        }
    }
}
#products,#customer,#payment,#check,#success,#contact{
    max-width: 770px;
    padding: 0 13px;

    .main_title{
        margin: 50px 0 30px;
    }
    .sub_title{
        margin: 0 0 30px;
    }
}
#products .checkAll{
    margin-bottom: 30px;
}
.steps {
	padding: 20px 10px 0;
	font-size: 16px;
}
.submit{
    button,input{
        padding: 5px 45px;
    }
}

.product{	
	&_item{
        &:nth-child(1),&:nth-child(2){
            margin-bottom: 30px;
        }
	}
	&_inner{
        width: 80%;
		padding: 30px 20px;
		
		h2{
			font-size: 18px;
			margin: 0 0 30px;
		}
		img{
			height: 84px;
            margin-bottom: 30px;
		}	
		p{
			font-size: 14px;
			font-weight: bold;
            line-height: 1.5;
            margin: 0;
		}
	}
    &_btn{

        input{
            border-radius: 5px;
            padding: 5px 45px;
            font-size: 16px;
        }
    }
}
