/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
*{
    box-sizing: border-box;
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}
#support01,#support03{
    background-color: #fdfaf3;
}

body{
	margin: 0;
}
header{
	height: 60px;
    width: 100%;
    margin: 0 auto;
    max-width: 770px;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;

	img{
		height: 28px;
		width: auto;
	}
	a{
		text-decoration: none;
		color: #ffffff;
		border-radius: 30px;
		background-color: #ff8a00;
		padding: 8px 25px;
        font-size: 14px;
	}
}

#fv{
	background-image: url(/images/fv-sp.png);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
	height: 52vw;
	padding: 0 15px;
}
.fv-inner{
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    height: 100%;
	
    h1{
		color: #ff8a00;
		font-size: 18px;
		margin: 0 0 0 12px;
		padding-top: 36px;
        line-height: 1.0;
        letter-spacing: 2px;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            bottom: -12px;
            left: 0;
            background-color: #ebbd87;
            height: 2px;
            width: 310px;
        }
	}

	div{
        margin: 12vw 0 0;
		ul{
			list-style: none;
			padding: 0;
            margin: 0;
			
			li{
				float: left;
				margin-right: 2vw;
                text-align: center;

				img{
					width: 14.6vw;
					height: 14.6vw;
				}
				p{
					font-size: 12px;
					text-align: center;
					margin: 0;
					font-weight: bold;
                    line-height: 1.25;
				}
			}
		}
	}
}

.main_title{
	font-size: 22px;
	text-align: center;
	font-weight: bold;
	margin: 13.3vw 0 4vw;
    line-height: 1.0;
    letter-spacing: 2px;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        bottom: -2vw;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ebbd87;
        height: 2px;
        width: 76px;
    }
}
.sub_title{
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	letter-spacing: 3px;
	margin: 0 0 6.6vw;
    line-height: 1.0;
}

#service{
	width: 100%;
    max-width: 770px;
    margin: 0 auto;
    padding: 0 13px;

    .main_title{
        margin: 9.3vw 0 4vw;
    }
}
.service{
    
	&_items{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	&_item{
		width: 50%;
		text-align: center;

        &:nth-child(1),&:nth-child(2){
            margin-bottom: 6vw;
        }

		a{
			text-decoration: none;
			color: #ffffff;
			border: 3px solid #ebbd87;
			border-radius: 5px;
			background-color: #ff8a00;
			padding: 5px 8vw;
			font-size: 14px;
            position: relative;

            &::after{
                font-family: "Font Awesome 5 Free";
                content: '\f078';
                position: absolute;
                top: 50%;
                right: 5vw;
                transform: translate(100%, -50%);
                font-weight: 900;
                color: #ffffff;
            }
		}
	}
	&_content{
		border: 3px solid #169ee5;
        width: 90%;
		height: 300px;
		margin: 0 auto 20px;
		padding: 4vw 10px 0;
		
		h2{
			font-size: 16px;
			color: #ff8a00;
			font-weight: bold;
			margin: 0 0 4vw;
            line-height: 1.2;
            letter-spacing: 2px;
		}
		img{
			height: 70px;
			width: auto;
		}	
		p{
			font-size: 14px;
			font-weight: bold;
            margin-top: 4vw;
		}
	}
}
.support{
	&_title{
		background-image: url(/images/sup_back.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 11vw 0 4.6vw;

		h1{
			text-align: center;
			color: #ffffff;	
            font-size: 22px;
            letter-spacing: 2px;
		}
	}
	&_img{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		img{
			width: 85vw;
			height: auto;
		}
		div{
            width: 100%;
            max-width: 770px;
            margin: 0 auto;
			padding: 30px 35px 0;

			h2{
				margin: 0;
				color: #169ee5;
				font-size: 18px;
                line-height: 1.3;
			}
			h3{
				text-align: center;
				color: #ffffff;
				background-color: #ff8a00;
				padding: 15px 0;
				font-size: 22px;
                letter-spacing: 2px;
                line-height: 1.0;
                margin: 20px 0 30px;

                span{
                    font-size: 16px;
                }
			}
			p{
				font-size: 16px;
			}
		}
	}
	&_merit{
        width: 100%;
        max-width: 770px;
        margin: 0 auto;
		padding: 0 20px;		
	}
    &_content{
        width: 100%;
        max-width: 770px;
        margin: 0 auto;
        padding: 0 20px;
    }
    &_flow{
        width: 100%;
        max-width: 770px;
        margin: 0 auto;
        padding: 0 20px;
    }
    &_time{
        position: relative;
        background-image: url(/images/sup_back.png);
        width: 100%;
        height: 150px;
        margin: 60px 0 130px;
    }
}
.merit{
	&-items{
		display: flex;
		justify-content: space-around;
        flex-wrap: wrap;

	}
	&-item{
		border: 3px solid #169ee5;
        background-color: #ffffff;
        width: 100%;
		//height: 230px;
		position: relative;
		text-align: center;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 30px 15px;
        justify-content: space-between;

        &:nth-child(1),&:nth-child(2){
            margin: 0 0 40px;
        }


		h2{
			position: absolute;
			top: -25px;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
			color: #ffffff;
			background-color: #ff8a00;
			font-size: 16px;
            line-height: 1.0;
            letter-spacing: 2px;
            padding: 12px 0;
            width: 145px;
            margin: 0;
            border-radius: 20px;
		}

        p{
            font-size: 14px;
            padding: 0;
            margin: 0;
            font-weight: bold;
            width: 50%;
        }

		img{
			width: 45%;
			height: auto;
			
		}
	}
}
.sup{
    &_items{
        width: 100%;
        border: 3px solid #169ee5;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 40px 0;
        background-color: #ffffff;
    }
    &_item{
        width: 33.3%;
        text-align: center;
        
        &:nth-child(4),&:nth-child(5),&:nth-child(6){
            margin-top: 30px;
        }

        img{
            width: auto;
            height: 60px;
        }
        p{
            font-size: 14px;
            line-height: 1.2;
            margin: 20px 0 0;
            font-weight: bold;
        }
    }
    &_inner{
        width: 100%;
        //height: 240px;
        border: 3px solid #169ee5;
        text-align: center;
        background-color: #ffffff;
    
        p{
            font-weight: bold;
            font-size: 14px;
        }
    }
    &_img{
        display: flex;
        justify-content: center;
        margin: 30px 0 0;

        img{
            width: auto;
            height: 60px;    

            &:nth-child(2){
                margin: 0 40px;
            }
        }
    }
}
.flow{
    &_items{
		display: flex;
		justify-content: space-around;
        align-items: center;

        span{
            color: #ff8a00;
            font-weight: 900;
            padding-bottom: 50px;
        }
	}
	&_item{
        width: 30%;
		text-align: center;
        position: relative;

        &::after{
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 16px;
            font-weight: bold;
            width: 30px;
            height: 30px;
            color: #ffffff;
            background-color: #ff8a00;
            border: 3px solid #ebbd87;
            line-height: 30px;
            border-radius: 50%;
        }

        &:nth-child(1)::after{
            content: "1";
        }
        &:nth-child(3)::after{
            content: "2";
        }
        &:nth-child(5)::after{
            content: "3";
        }
        p{
            font-size: 14px;
            padding: 0;
            margin: 16px 0 0;
            line-height: 1.2;
            font-weight: bold;
        }
		img{
            width: 90%;
            height: auto; 
		}
    }
}
.time{
    &_content{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        background-color: #ffffff;
        position: absolute;
        top: 45px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0px 0px 5px #333;
        padding: 30px 0;

        h2{
            font-size: 18px;
            font-weight: bold;
            margin:  0 0 30px;
            line-height: 1.0;
            letter-spacing: 2px;
            position: relative;
            
            &::after{
                content: "";
                position: absolute;
                bottom: -15px;
                left: 50%;
                transform: translateX(-50%);
                background-color: #ebbd87;
                height: 2px;
                width: 76px;
            }          
        }    
        p{
            font-size: 16px;
            font-weight: bold;
            margin: 0;
            position: relative;
            
            &::before{
                font-family: "Font Awesome 5 Free";
                content: '\f095';
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translate(100%, -50%);
                font-weight: 900;
                color: #ff8a00;
            }

        }
    }
}